*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background: #d0cce0; */
    
   
}
body{
    /* background: linear-gradient(to bottom, #f0f9ff 0%,#cbebff 47%,#a1dbff 100%); */
    background: #2980B9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

@media screen and (max-width : 850px){
    .one{
       
        display: none;
        flex-direction: column;
        row-gap: 0.8rem;
    }
    .two{
        flex-direction: column;
        justify-content: center;
        
    }
    .two1{
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    .three{
        flex-direction: column;
    }
    h1{
        padding: 2vh;
    }
 
}

@media screen and (max-width : 550px){
.onelink{
    flex-direction: column;
    justify-content: center;

}
 
}
#img1 {
    animation: 1s slide-right;
  }
  @keyframes slide-right {
    from {
      margin-left: -100%;
    }
    to {
      margin-left: 0%;
    }
  }

  
  #img3 {
    animation: 1s slide-left;
  }
  @keyframes slide-left {
    from {
      margin-left: 100%;
    }
    to {
      margin-left: 0%;
    }
  }
  
.one{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: -10px;
    /* border: 2px solid black; */
    background: linear-gradient(to bottom, #f0f9ff 0%,#cbebff 47%,#a1dbff 100%); 
    /* background-color: #85a3b6; */
    border-right-color: white;
    border-bottom-left-radius: 3rem;
    border-bottom-right-radius: 3rem;
    border-right-color: ;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.oneimg{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1vh;
    background: transparent;
}
.onelink a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: large;
    background: transparent;
}
.onelink{
    display: flex;
    width: auto;
    gap: 5vw;
    background: transparent;
}
.onelink1{
    display: flex;
    justify-content: center;
    gap: 5vw;

    background: transparent;
}
.two{
    margin: 5rem;
    display: flex;
    justify-content: space-between;
   

}
.two1 img{
    
    height: 18rem;
    width: 19rem;

    border-radius: 2rem;
    transition: transform 2s;
    box-shadow: rgb(38, 57, 77) 10px 10px 30px -10px;
}

.two1 h3{

    justify-content: center;
    text-align: center;
    margin: 2rem;
    
}
h1{
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.three{
    display: flex;
    justify-content: space-around;
    gap: 2rem;
    margin:3vw ;

    font-family: Arial, Helvetica, sans-serif;

    
}
.t1{
    text-align: center;
    text-wrap: wrap;
    background-color: #d0cce0;
      
    padding-top: 0.3rem;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.t1 h2{
  
    background-color: #d0cce0;
   
    margin-top: 1rem;
}
 .t1 h3{
    justify-content: center;
    text-align: center;
    margin: 1rem;
    background-color: #d0cce0;
    border-radius: 2rem;
}

.two1:hover {
    transform: scale(1.05); 
  }
  .t1:hover {
    transform: scale(1.05); 
    color: #23309a;
  }




.form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

form h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #000000;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #010000;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
    width: 15vw;
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid #0e0d0d;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    width: 8vw;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border:none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}
.four{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}